<form class="" action="/landmarks" method="post">
  <p>
    Landmark Name: <input type="text" id="landmark_name" name="landmark[name]" value="">
  </p>
  <p>
    Year Completed: <input type="text" name="landmark[year_completed]" value="" id="landmark_year_completed">
  </p>
  <p>
    <input type="submit"  value="Create New Landmark">
  </p>

</form>
